.form1{
    margin-top: 34px;  
}
.ligne1{
    margin-left: 280px;
}
.form2 button{
margin-left: -50px;
}
#titre{
    margin-left: 400px;
    margin-top: 10px;
}
.lignegeneral{
    border: 1px solid gray;
}
.form1 span{
    color: red;
}
.form2 span{
    color: red;
}
.btn-danger{
    margin-left: 2px;
}