.form1{
    margin-top: 34px;  
}
.ligne1{
    /* margin-left: 280px; */
}
.form2 button{
margin-left: -50px;
}
#titre{
    margin-left: 400px;
    margin-top: 10px;
}
.lignegeneral{
    border: 1px solid gray;
}
.form1 span{
    color: red;
}
.form2 span{
    color: red;
}
.btn-danger{
    margin-left: 2px;
}
.table td {
font-size: 12.4px;
}
#non{
    margin-left: 10px;
}
#labelnon{
    margin-left: 30px;  
}

#lignegeneral {
    position: relative;
}

div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(155, 155, 155, 0.9);
    z-index: 1000;
    visibility: hidden;
}

div.overlay span {
    font-size: 1.3em;
    color: white;
}